.App {
    text-align: center;
    
    main {
        padding-top: 80px;

        .Home {
            a {
                text-decoration: none;
                font-size: 40px;
                color: #a9fdd8;
            }
        }
    }
}
