.css {

    .intro {
        
        &__contentList {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .artDiv {
        margin-top: -80px;
    }
    
    .footer {
        padding: 40px;

        &__button {
            
        }
    }
}